@charset "utf-8";


:root {
--cor0: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #2fa866;
--cor4: #1a5c37;
--cor5: #063d1e;


}

* { 
    margin: 0;
    padding: 0;
}

   
 body{
    background-color: var(--cor1);
 }

 header  {
   padding-bottom: 40px;
   padding-top: 10px;
    color:white;
    background: linear-gradient(to bottom, #2fa866, #063d1e);
    text-align: center;
 }
header > h1{
    padding-top: 5px;
    padding-bottom: 20px;
}

 nav{
 background-color: var(--cor5);
 padding: 10px;
 box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.204);
font-size: large;
 }
 nav > a{
    padding: 10px;
   color: white;
   border-radius: 5px 5px 5px;
 }
 nav  a:hover{
    background-color: var(--cor3);
    transition-duration: 1s;
 }
 
 a{
    text-decoration: none;
 }
 a > strong{
 color: var(--cor5);
 }

 a:hover {
    text-decoration: underline;
 }
 body > p{
    font-size: larger;
 }
strong{
   color: var(--cor4);
   font-weight: bolder;
   font-size: large;
}
footer > p > strong{
   font-weight: bold;
   color: white;
}

 
 main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding:30px ;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.388);
    margin-bottom: 10px;
    border-radius: 0 0 8px 8px;
 }
 .irina{
   padding-top: 20px;
   padding-bottom: 20px;
 }
 .p-antesdovideo{
    padding-bottom: 40px;
 }
 img{
    width: 100%;
 }
 .video{
    background-color: var(--cor5);
   margin: 0px -20px 30px -20px;
   padding: 20px;
   position: relative;
   padding-bottom: 50%;
 }

  .video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }
 main img.pequeno{
    width: 50%;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .dandroids{
   padding-top: 20px;
   padding-bottom: 20px;
 }

 article > h1{
    color: var(--cor4);
    text-align: center;
    padding-bottom: 20px;
    font-size:xx-large;
 }
 article > h2{
    color: var(--cor4);
    background: linear-gradient(to left, #ffffff, #83e1ad);
   margin:  20px 0 20px 0;
   padding-left: 10px;
   border-radius: 10px 10px 0px;
 }
 aside{
      background-color: var(--cor0);
      border-radius: 5px 5px;
 }
 aside p{
    padding: 20px;
 }
 aside ul{
    list-style-position: inside;
    columns: 2;
    padding: 20px;
 }

 aside h3{
 background-color: var(--cor1);
 color: white;
  padding: 10px; 
 }
 .penultimo-paragrafo{
  padding: 20px;
 }

 footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 8px;
 }
